@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+AU+TAS:wght@100..400&display=swap&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900');

*,*::after,*::before{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{

    --body-font: "PT Serif";
    --title-font: "Merriweather, serif";
    --background-even: #F0F2F2;
    --font-even: #2E4A70;
    --background-odd: #2E4A70;
    --font-odd: #F0F2F2;
    --last-name-color: #73C7E3;
    --title-font-size: clamp(2em, 7vw, 3.5em);

}

html, body {
    max-width: 100vw;
    scroll-behavior: smooth !important;
 }

body{

    font-family: var(--body-font);

}

.odd-section{
    background-color: var(--background-odd);
    color: var(--font-odd);
}

.odd-section a{
    color: var(--font-odd)
}

.even-section{
    background-color: var(--background-even);
    color: var(--font-even);
}

.even-section a {
    color: var(--font-even)
}


/* -------------------- HERO SECTION ----------------------------*/

.main-nav-container{

    position: fixed;
    top: 0;
    left: 0;
    inline-size: 100vw;
    block-size: 6.5rem;
    background-color: rgba(115, 199, 227, 0.8);
    backdrop-filter: blur(5px);
    z-index: 9999;
    text-align: center;
    align-content: center;

}

.main-nav{
    list-style: none;
}

.main-nav li{
    display: inline-block;
    padding: 1.25em;
}

.main-nav li a{
    text-decoration: none;
    color: var(--font-odd);
    font-size: 1.25em;
    transition: all 0.3s linear;
}

.main-nav li a:hover{
    color: var(--font-even)
}

@media (max-width: 500px){
    .main-nav-container{
        display: none;
    }
}



.hero{

    min-block-size: 100dvh;
    inline-size: 100%;
    position: relative;
    isolation: isolate;
    overflow-x: hidden;

}

.link-position-wrapper{

    position: absolute;
    top: 0;
    right: 0;
    inline-size: min(5em,15%);
    aspect-ratio: 1;
    opacity: 0;

}

@media (max-width: 500px){
    .link-position-wrapper{
        opacity: 1;
    }
}

.link-container{

    inline-size: 100%;
    block-size: 100%;
    position: relative;

}

.links{

    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    inline-size: clamp(15rem,12rem,40%);
    min-block-size: 100dvh;
    background-color: rgba(46, 74, 112, 0.8);
    backdrop-filter: blur(8px);
    z-index:5;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    transition: all 0.5s ease-in;
}

.link{

    a{
        text-decoration: none;
        color: #fff;
    }

}


label{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 99;
}

input{
    display: none;
}

.blocks{
    inline-size: 60%;
    block-size: 2px;
    background-color: var(--background-odd);
    border-radius: 8px;
}

label:has(input:checked) span{
    background-color: #fff;
}
label:has(input:checked) + .links{
    transform: translateX(0);
}


.hero-image{
    position: absolute;
    inset: 0;
    inline-size: 100%;
    block-size: 100%;
    background-image: url(./images/B.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 40% 60%;
}

.pp-container{
    align-content: center;
    text-align: center;
}

.pp{
    inline-size: clamp(8rem,15vw,20em);
    aspect-ratio: 1;
    border-radius: 50%;
    margin: auto
}

.name-container{
    position: relative;
}

.names{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    min-inline-size: 50%;
    text-wrap: nowrap;
}

.f-name, .l-name{
    display: inline-block;
    text-transform: uppercase;
    font-size: clamp(1.5em, 5vw, 3em);
    font-weight: 700;
    color: #fff;
}

.f-name{
    animation: f-name-pop 0.8s linear forwards;
    color: var(--font-even);
}

.l-name{
    margin-left: 0.5em;
    animation: l-name-pop 0.8s linear forwards;
    color: var(--last-name-color);
}


@media (max-width: 500px){
    .hero-image{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 50% 50%;
    }
    .pp-container{
        align-content: end;
        }         
    .names{
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding-block-start: 3em;
        margin-block-start: 3em;
        }
    }

@keyframes f-name-pop {
    0%{
        transform: translateY(20%);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes l-name-pop{
    0%{
        transform: translateY(-20%);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}


/* --------------------SECOND MAIN PAGE ----------------------------*/
.second-main-wrapper{
    container: second-main / inline-size;
    min-block-size: 100dvh;
    inline-size: 100%;
    position: sticky;
    bottom: 0;
    background-color: var(--background-even);
    align-content: center;
    text-align: center;
    z-index: -1;
    color: var(--font-even);

}

.second-main-wrapper::before, .second-main-wrapper::after{

    content: "";
    position: absolute;

}

.second-main-wrapper::after{
    top: 2em;
    bottom: 2em;
    left: 1em;
    right: 1em;
    background-image: url(./images/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;

}

.intro-one{
    font-size: 1.85rem;
    padding-inline: 3rem;
    margin-bottom: 1em;
    font-family: var(--title-font);
    font-weight: 400;
}

.intro-one span{
    color:var(--last-name-color)
}


@container second-main (inline-size<=700px){
    .second-main-wrapper > .intro-one{
        font-size: 1.35rem;
        line-height: 1.5em;
    }
}




/* --------------------PROFESSIONAL PORTFOLIO SECTION ----------------------------*/
.professional-section{
    min-block-size: 100dvh;
    inline-size: 100%;
    display: flex;
    flex-direction: column;
}

.title-container{
    inline-size: 100%;
    block-size: 10rem;
    align-content: center;
    text-align: center;
    padding-block: 8px;
}

.title-container h2{
    font-size: var(--title-font-size);
    font-family: var(--title-font);
    font-weight: 400;
}


.title-container p{
    font-size: clamp(1em, 3vw, 1.75em);
    font-weight: 400;
    padding-block: 5px;
}


.projects-container{

    container: projects-contain / inline-size;
    inline-size: min(90%, 60rem);
    margin: 1.5em auto;
    padding-block: 3em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10em;

}

@media (max-width: 500px){

    .title-container{

        padding-block-start: 1em;
        block-size: 5rem;

    }

    .projects-container{
        gap: 5em;
        margin: 0.75em auto;
        padding-block: 1em;
    }
}

@container projects-contain (inline-size<=750px){

    .projects-container .project{
        flex-direction: column;
        block-size: auto;
        inline-size: 100%;
    }

    .projects-container .project .project-info{
        inline-size: 100%;
        text-align: center;
        list-style: none;
        padding-inline-start: 0;
    }

    .projects-container .project .project-image{
        inline-size: 100%;
        block-size: 60%;
        
        img{
            object-fit: fill;
        }
    }    
}

.project{
    inline-size: 90%;
    block-size: 20em;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5em;
}

.project-info{
    inline-size: 40%;
    block-size: 100%;
    place-content: center;
    padding-inline-start: 2em;
    opacity: 0;

    h3{
        font-size: clamp(1em,1vw,1.25em);
        color: var(--last-name-color);
    }

    li{
        margin-inline: auto;
        padding-block-start: 1em;

        a{
            text-decoration: none;
            font-size: 1em;
        }
    }
}

.project-info h3{
    font-size: clamp(1em,1vw,1.25em);
    color: var(--last-name-color);
}

.project-info li{
    margin-inline: auto;
    padding-block-start: 1em;
}

.project-info li a{
    text-decoration: none;
    font-size: 1em;
}

.project-image{
    inline-size: 60%;
    block-size: 100%;
    border-radius: 8px;
    opacity: 0;
}

.project-image img{
    inline-size: 100%;
    block-size: 100%;
    object-fit: fill;
    border-radius: 8px;
    box-shadow:  
    -7px -7px 10px -5px transparent, 
    7px 7px 10px -5px transparent, 
    0 0 5px 0px rgba(255,255,255,0),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

@keyframes shadow {
    0%{
        box-shadow: 0 0 8px 0 rgba(207, 207, 207, 0.5);   
    }
    100%{
        box-shadow: 0 0 15px 0 rgba(207, 207, 207, 0.5);   
    }
}

.info-appear{
    animation: info-app 0.8s linear forwards;
}

.image-appear{
    animation: image-app 0.8s linear forwards;
}

@keyframes info-app{
    0%{
        transform: translateX(-10%);
        opacity: 0;
    }
    100%{
        transform:translateX(0);
        opacity: 1;
    }
}

@keyframes image-app{
    0%{
        transform: translateX(20%);
        opacity: 0;
    }
    100%{
        transform:translateX(0);
        opacity: 1;
    }
}


/* -------------------- TECHNICAL SECTION ----------------------------*/

.technical-section{

    min-block-size: 80dvh;
    position: relative;

}

.tec-wrapper{
    inline-size: 80%;
    min-block-size: 40dvh;
    padding-inline: 1em;
    padding-block-end: 2.75em;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em,1fr));
    column-gap: 1.5em;
    row-gap: 1.5em;
    place-items: center;
    justify-content: center;

}
.tech-container{
    text-wrap: nowrap;
}

.tech{
    font-size: 1.25em;
}

/* -------------------- CONTACT SECTION ----------------------------*/
.contact-section{

    min-block-size: 100dvh;
    inline-size: 100%;
    background: url(./images/Last.jpg);
    background-position: cover;
    background-size: fill;
    background-repeat: no-repeat;
    place-content: center;

}

.contact-header{

    font-weight: 700 !important;
}

.contact-wrapper{

    min-inline-size: 50%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;

}

.contacts span{
    font-size: 1.5em;
    margin: 0.5em;
    padding: 0.5em;
}

@media (max-width: 690px){
    .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.icon{
    margin-top: 0.5em;
    padding: 1em;
}

.icon a i{
    font-size: 3em;
}